<div class="flex-container">
    <div class="card">
        <a href="https://www.github.com/aiur-adept"><img id="profile-picture" src="assets/nicole.jpeg" alt="Profile Picture"></a>
        <h1>Hi, I'm a full stack developer</h1>
        <p>
            My name is <strong>Nicole Trinity</strong> and I'm a full stack developer with a passion for building web applications.
        </p>
        <p>
            Click <a href="https://www.github.com/aiur-adept">here</a> to view my GitHub profile.
        </p>
    </div>
</div>