<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicole Trinity's Resume</title>
</head>
<body>
    <div class="flex-container">
        <div class="card">
            <h1>Nicole Trinity</h1>
            <div class="links">
                <p>· <a href="https://www.linkedin.com/in/nicole-trinity-174216a4/">LinkedIn</a> ·</p>
                <p>· <a href="https://github.com/aiur-adept">GitHub</a> ·</p>
            </div>
        </div>
        <div class="card">
            <p>Highly skilled Software Development Professional with over 10 years of experience in API architecture, project leadership, and cloud computing. Proficient in a wide array of programming languages and tools, with extensive expertise in developing, maintaining, and supporting distributed systems at scale.</p>
        </div>
        <div class="card">
            <h2>Highlights of Skills & Qualifications:</h2>
            <ul>
                <li>Studied computer science</li>
                <li>Communication and collaboration</li>
                <li>10 years of Software Development experience</li>
                <li>Cloud computing</li>
                <li>Data science, algorithms</li>
                <li>Can easily visualize complex systems</li>
                <li>Proficiency in many languages</li>
                <li>Concurrency-pattern and distributed thinker</li>
                <li>Dev-ops, TDD, agile</li>
                <li>Critical detail inspection & debugging</li>
            </ul>
        </div>
        <div class="card">
            <h2>Software Experience:</h2>
            <ul>
                <li>Linux user since 2007</li>
                <li>AWS: EKS, RDS, ELB and more</li>
                <li>Arch, Debian, Ubuntu, NixOS</li>
                <li>GCP: GKE, GCE, CloudSQL, and more</li>
                <li>Javascript, Typescript, python, golang, Java, PHP, C, C++, bash</li>
                <li>Terraform, Docker, Kubernetes, Helm</li>
                <li>MySQL, MongoDB, PostgreSQL, Redis, Memcache</li>
                <li>REST, SOAP, DNS, TCP</li>
                <li>React, Angular, Django, Express</li>
                <li>Prometheus, Grafana, Datadog, New Relic</li>
                <li>Mocha, chai, unittest</li>
                <li>Selenium</li>
            </ul>
        </div>
        <div class="card">
            <h2>Employment Experience:</h2>
            <div class="section">
                <h3>Software Development and Operations (python, javascript, bash, angular)</h3>
                <p>2021 - 2023</p>
                <p>Anuvu – Montreal, QC</p>
                <ul>
                    <li>Debug deployed software systems delivering connectivity and media playback aboard airplanes.</li>
                    <li>Implement new features in user portal / video playback.</li>
                    <li>Develop new deployment patterns.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Software Development and Operations (typescript, bash, react)</h3>
                <p>2018 - 2021</p>
                <p>Resin.io/Balena - Peterborough, ON</p>
                <ul>
                    <li>Lead role in developing, maintaining, extending production reliability / monitoring / deployment systems.</li>
                    <li>SRE / dev-ops / on-call.</li>
                    <li>Developer support and architecture advice for diverse fleets among tens of thousands of remotely installed IoT devices.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Software Development and Operations (python, nodejs, bash, angular)</h3>
                <p>2017 - 2018</p>
                <p>Global Eagle – Montreal, QC</p>
                <ul>
                    <li>Dev-Ops / break-fix / post-mortem analysis for an in-flight content delivery system.</li>
                    <li>Developed an extensible production system monitoring / diagnostic offload module.</li>
                    <li>Pushed forward efforts to better document internal processes.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Developer support (python, golang, java)</h3>
                <p>2014 – 2017</p>
                <p>TELUS/Google – Montreal, QC</p>
                <ul>
                    <li>Developer advisor, providing support and architecture advice for development teams.</li>
                    <li>Working in depth with thousands of codebases and dozens of APIs / services.</li>
                    <li>Diagnosing network and system issues, profiling latencies, analyzing logs, code debugging, etc.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Software Development and Operations (nodejs, PHP, angular)</h3>
                <p>2013 - 2014</p>
                <p>Vretta Inc. - Toronto, ON</p>
                <ul>
                    <li>Design and implementation of javascript interactive mathematics learning components.</li>
                    <li>Administered testing / grading database.</li>
                    <li>Solely responsible for support queue with up to 50 messages a day.</li>
                    <li>Debugging legacy PHP / Actionscript.</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <h2>Education:</h2>
            <div class="section">
                <h3>OSSD</h3>
                <p>2009</p>
                <p>Richmond Hill High School</p>
            </div>
            <div class="section">
                <h3>Computing</h3>
                <p>2010 - 2013</p>
                <p>University of Guelph, B.Sc. Computing</p>
            </div>
            <div class="section">
                <h3>Courses - 2024</h3>
                <ul>
                    <li>Introduction to DevOps – IBM Coursera</li>
                    <li>Foundations of CyberSecurity – Google Coursera</li>
                    <li>Preparing for Google Cloud Certification: Cloud DevOps Engineer – Google Coursera</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>